<!-- Phone Header -->



<div class="top">
    <h2 class="title">My Blog</h2>
    <% if (currentUser === 'Admin') { %>
        <a href="/articles/new" class="add-new-post"><i class="fa fa-plus fa-lg " aria-hidden="true"></i></a>
    <% } %>
</div>


<!-- Desktop Header -->