<!-- Will refactor code from line 2-4 to the '/partials' -->
<% if (messages.error) { %>
    <%= messages.error %> 
<% } %>

    <div class="adminWebContainer">
        <div class="Admin-login-container">
            <h1>Admin Login</h1>
    
                <img src="/images/reading.svg" alt="girl reading a book" class="loginImage">
    
    
        
            <form action="/login" method="post" class="form-container">
    
                <div class="login-inputs-container">
                    <label for="Username"></label>
                    <input type="text" id="Username" name="username" placeholder="Username" required="" autofocus="">
                    
                    <label for="Username"></label>
                    <input type="password" id="Password" name="password" placeholder="Password" required="">
                    
                </div>
                          
                <button type="submit" class="login-button">Login</button>
        
            </form>
        </div>
    </div>




