.top{
    height: 6.8%;
    background-color: #3D4878;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
  }
  
  .add-new-post{
    margin-left: 45%;
    color: white;
  }

  .title{
    margin-right: 6%;
  }

  .phone_page-container, .phone_page-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    
  }
  .phone_page-container{
    padding-bottom: 20px;
    width: 97%;
  }

.row{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.col-1{
  margin-left: 10px;
}

  

/************************************* Image Card ************************************************/
   
  .imageCard{
    position: relative;
    overflow: hidden;
    border-radius: 0.8rem;
    /* width: 330px; */
    height: 280px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
    
    color: white;
  }
  
  .imageCard_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }
  
  .imageCard_text-wrapper{
    position: absolute;
    bottom: 0rem;
    padding: .8rem;
  }
  
  .imageCard_title{
    margin-bottom: .5rem;
  }
  
  .imageCard_date{
     font-size: .7rem;
     margin-bottom: .5rem;
     color: #CCC;
  }

/************************************* Blog Card ************************************************/

  .blogCard{
    height: 180px;
    width: 315px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-top: 5px solid #FDB0B0;
    font-size: .83em;
    margin-top: 10%;
    
  }
  
  .blogCard_container{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .blogCard_top{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .blogCard_top form button{
    outline:none;
    border: none;
  }
  
  .blogCard_edit{
    margin-right: 8px;
  }
  
  .blogCard_middle{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .blogCard_image{
    width: 59px;
    height: 67px;
    object-fit: cover;
    align-self: center;
  }
  
  .blogCard_text-wrapper{
    display: flex;
    width: 75%;
    flex-direction: column;
    margin-left: 15px;
  }

  .blogCard_description{
    overflow-wrap: break-word;
  }
  
  .blogCard_title{
    margin-top: 10px;
  }
  
  .blogCard_date{
    align-self: flex-end;
    margin-top: 10px;
    font-size: .75em;
  }
  
  .blogCard_bottom{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }



/************************************* Form ************************************************/

/* .container{
  border: 1px solid red;

} */

.formContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 15px;
}

.blogForm{
  display: flex;
  flex-direction: column;

  text-transform: uppercase;
  width: 90%;
}

.blogTitle{
  line-height: 2em;
  border: none;
  margin-bottom: 5%;
}

textarea {
  resize: none;
  border: none;
  margin-bottom: 5%;
}

label{
  margin-bottom: 3%;
}

.btn{
  height: 27px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton{
  margin-left: 10px;
  
}

.CancelButton{
  background-color: #f0abb7;
}

.cancelSubmit{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



.filepond--root {
  width: 100%;
}


/************************************* Show Page ************************************************/
.bodyContainer{
  width: 100%;
  /* border: 1px solid red; */
  margin-top: 58.72px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content{
  background: #e1e2e4;
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  padding: 10px;
}

.blogBody_Top{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 3%;
  margin-right: 50px;
}

.right{
  display: flex;
  padding: 3px;
}

code{
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}


@media only screen and (min-width: 530px){
  [class*="col-"]{
    margin: 0 2%;
  }

  .col-1{
    flex: 0 0 92%;
  }
  .col-2{
    flex: 0 0 44%;
  }

  .row, .col-2{
    margin-top: 2%;
  }

  .webContainer{
    display: flex;
    justify-content: center;
  }
  .bodyContainer, .phone_page-container {
    width: 80%;
  }
}