<form action="/articles/edit/<%= article.id%>?_method=PUT" method="POST">
    <%- include( 'form_fields' )%>
    <br>
    <a href="/articles">Cancel</a>
    <button type="submit">Update</button>
</form>