

<div class="formContainer">
    <form action="/articles/edit/<%= article.id%>?_method=PUT" method="POST" class="blogForm">

        <%- include( 'form_fields' )%>
        <div class="cancelSubmit">
            <a href="/">Cancel</a>
            <button type="submit" class="submitButton">Update</button>
        </div>

    </form>
</div>