

<div class="formContainer">
    <form action="/articles/edit/<%= article.id%>?_method=PUT" method="POST" class="blogForm">

        <%- include( 'form_fields' )%>
        <div class="cancelSubmit">
            <button class="btn CancelButton"><a href="/">Cancel</a></button>
            <button type="submit" class="btn submitButton">Update</button>
        </div>

    </form>
</div>