
    <div class="formRow">
        <label for="title">title</label>
        <input type="text" name="title" value="<%= article.title %>" class="blogTitle">
    </div>
    
    <div class="formRow">
        <div class="col-1-3">
            <label for="image">Image</label>
            <input type="file" name="image" class="filepond">
        </div>
        <div class="col-1-2">
            <label for="description">description</label>
            <textarea name="description" cols="30" rows="10" maxlength = "100"><%= article.description %></textarea>
        </div>
    
    </div>
    
  
    
    <label for="markdown">body</label>
    <textarea name="markdown" cols="30" rows="50"><%= article.markdown %></textarea>





