

<div class="formContainer">
    <form action="/articles/new" method="POST" class="blogForm">
        <%- include( 'form_fields' )%>
        <br>
        <div class="cancelSubmit">            
            <button class="btn CancelButton"><a href="/">Cancel</a></button>
            <button type="submit" class="btn submitButton">Create</button>
        </div>
    </form>
</div>