

<div class="formContainer">
    <form action="/articles/new" method="POST" class="blogForm">
        <%- include( 'form_fields' )%>
        <br>
        <div class="cancelSubmit">            
            <a href="/articles">Cancel</a>
            <button type="submit" class="submitButton">Create</button>
        </div>
    </form>
</div>